[credential]
	helper = osxkeychain
[core]
	editor = vim 
	autocrlf = input
	excludesfile = ~/.gitignore_global
[include]
      path = ~/.gitconfig_local # user, etc
[pull]
	ff = only
[merge]
    tool = intellij
[mergetool "intellij"]
    cmd = open -na \"~/Applications/IntelliJ IDEA Community Edition.app/Contents/MacOS/idea\" -W --args merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    # cmd = '~/Library/Application Support/JetBrains/Toolbox/scripts/idea' merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    trustExitCode = true
[mergetool]
    keepBackup = false
# [merge]
#     tool = idea
# [mergetool "idea"]
#     cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
#     trustExitCode = true
[diff]
    tool = intellij
[difftool "intellij"]
    cmd = open -na \"~/Applications/IntelliJ IDEA Community Edition.app/Contents/MacOS/idea\" -W --args diff "$LOCAL" "$REMOTE"
    # cmd = '~/Library/Application Support/JetBrains/Toolbox/scripts/idea' diff "$LOCAL" "$REMOTE"
# [diff]
#    tool = idea
# [difftool "idea"]
#    cmd = idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[alias]
    update-root = "!~/.scripts/git-safe-update-root.sh"